<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row mt-4">
    <div class="form-group col">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
  
    <div class="form-group col">
      <%= form.label :author %>
      <%= form.text_field :author, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status, options_for_select(@statuses) %>
  </div>

  <div class="row">

    <div class="form-group col">
      <%= form.label :lend_date %>
      <%= form.date_select :lend_date , {:include_blank => true, :default => nil} %>
    </div>
  
    <div class="form-group col">
      <%= form.label :returned_date%>
      <%= form.date_select :returned_date, {:include_blank => true, :default => nil} %>
    </div>

  </div>
  

  <div class="actions my-4">
    <%= form.submit %>
  </div>
<% end %>
